# Miscellaneous Items and Garbage
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.DS_Store
*/.DS_Store

# Datasets (Ignoring for Security)
data/

# Processing Algorithms (Ignoring until Finalization)
structures/d*.py

# C-Python Data Files
structures/*.pyc

# Jupyter Notebooks (Ignoring until Relevant Work Conductance)
notebooks/02-intermediate-data-processing.ipynb
notebooks/03-predictive-data-modeling.ipynb